<div style="display: block">
    <ngx-select
    class="col-md-9"
    [items]="selectList"
    [showOptionNotFoundForEmptyItems]="true"
    [allowClear]="false"
    [(ngModel)]="selectedList"
    (selectionChanges)="selectType($event)"
  ></ngx-select>
  <ngx-select
  class="col-md-3"
  [items]="selectMonths"
  optionValueField="index"
  optionTextField="name"
  [showOptionNotFoundForEmptyItems]="true"
  [allowClear]="false"
  [(ngModel)]="selectedMonth.index"
  (selectionChanges)="selectMonth($event)"
></ngx-select>
{{selectedMonth | json}}
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="mbarChartLabels"
            [options]="barChartOptions"
            [colors]="barChartColors"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            ></canvas>

            <!-- <canvas baseChart
            [datasets]="barChartData"
            [labels]="mbarChartLabels"
            [options]="barChartOptions"
            [colors]="barChartColors"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
            ></canvas> -->
  </div>