<div class="container">
  <div class="col-md-12">
    <div class="row">
      <ngx-select
        [items]="mappedCountryList"
        optionValueField="country"
        optionTextField="country"
        [showOptionNotFoundForEmptyItems]="true"
        [allowClear]="true"
        placeholder="No Country selected"
        [(ngModel)]="selectedCountry"
        (selectionChanges)="selectCountry($event)"
      ></ngx-select>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
          <div class="col-md-6 col-sm-6">
            <label class="btn btn-warning" >{{isWorldMap ?'World Map':'Country Map'}}</label>            
          </div>
          <div class="pull-right" *ngIf="isWorldMap">
            <div class="btn-group" btnRadioGroup >
              <label class="btn btn-info"  uncheckable tabindex="0" role="button">Cases</label>
            </div>
            <label class="btn " style="background-color: black; color:white" uncheckable tabindex="0" role="button">Not Infected by Covid-19</label>         
          </div>
       </div>
      </div>

        <div class="panel-body text-center" *ngIf="isWorldMap">
          <google-chart 
          id="geochart"
          style="width: 100%;"          
          [dynamicResize] = "true"
          [columns]="columns"
          [title]="'World Map'"
          [type]="chartType"
          [data]="worldDataToShow"
          [options]="chartOption"
          ></google-chart>         
        </div>

        <div class="panel-body text-center">
          <div class="col-md-6" *ngIf="!isWorldMap">          
            <google-chart 
            style="width: 100%;"
            [columns]="['State','COVID-Confirmed Cases']"  
            [title]="'Country Map'"
            [type]="myType" 
            [data]="countryData" 
            [options]="countrychartOption"
            ></google-chart>          
          </div>  
          <div class="col-md-6">     
            <app-statistics [countryData]="selectedCountryData" *ngIf="!isWorldMap"></app-statistics>
          </div>
        </div>
      </div>
    </div>

    <br/>

    <div class="row" *ngIf="!isWorldMap">
      <app-history [countryName]="selectedCountryData?.countryOriginal"></app-history>
    </div>

  </div>
</div>
